[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "abwm"]
	path = abwm
	url = https://github.com/cran/abwm
[submodule "bosfr"]
	path = bosfr
	url = https://github.com/cran/bosfr
[submodule "wmwm"]
	path = wmwm
	url = https://github.com/cran/wmwm
